<!doctype html>
<html class="no-js" lang="zxx">
@Html.Partial("HeadPage.cshtml")

<body class="body-bg">
    <!-- Preloader Start -->
    @*<div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="~/assets/img/logo/logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Preloader Start -->
    @Html.Partial("Navpage.cshtml")

    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url('../assets/img/hero/gallery.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>Profile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Clients Offers Start -->
        <div class="clients-area section-padding03">
            <div class="container">
                @RenderBody()
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <span class=" wow fadeInUp" data-wow-delay=".2s">My Profile</span>
                            <h2 class=" wow fadeInUp" data-wow-delay=".3s">Introduce Myself</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6" >
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                            <div class="offers-img">
                                <img src="~/assets/img/gallery/jin16.jpg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" style="padding-top:130px">
                            <div class="offers-cap">
                                <span>1</span>
                                <h3>
                                    <a>
                                        Dana
                                    </a>
                                </h3>
                                <p>Thank you for visiting this place. My name is DANA. The reason is that I love scarf items like Bandana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" style="padding-top:130px">
                            <div class="offers-cap">
                                <span>2</span>
                                <h3><a>Various Clothes</a></h3>
                                <p>There are so many different clothes in the world. I love to wear clothes so much that I try to try new clothes.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s">
                            <div class="offers-img">
                                <img src="~/assets/img/gallery/jin17.jpg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s">
                            <div class="offers-img">
                                <img src="~/assets/img/gallery/jin18.jpg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" style="padding-top:130px">
                            <div class="offers-cap">
                                <span>3</span>
                                <h3><a>Confidence</a></h3>
                                <p>
                                    Clothes are like wings to me. It's really happy to get around outside wearing my favorite clothes.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <!-- Clients Offers End -->
    </main>
    @Html.Partial("FooterPage.cshtml")

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>