
@{
    ViewData["Title"] = "PortFolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center" >
        <h2 class="title">PortFolio</h2>
        <h5 class="description">작업했던 포트폴리오입니다.</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i> Studio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i> Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i> Favorite
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="studio">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/Dana1.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana2.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/Dana3.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana4.jpg" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="works">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/Dana5.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana6.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana7.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/Dana8.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana9.jpg" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="favorite">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/examples/Dana10.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana11.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana14.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/examples/Dana12.jpg" class="rounded">
                <img src="~/assets/img/examples/Dana13.jpg" class="rounded">
            </div>
        </div>
    </div>
</div>